@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  @apply bg-dark text-light
}

.manrope-font {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.animation-1 {
  @apply transition-transform ease-in-out duration-150
}


.gradient-bg-1 {
  background:
    linear-gradient(97.91deg, #EFB1FF 6.1%, #ED50FF 103.66%);
}

/* Header CSS */
.header-squire-bg {
  background: radial-gradient(50% 50% at 50% 50%, rgba(167, 229, 254, 0.523) 0%, rgba(68, 108, 249, 0.36) 100%);
}


/* Customer Section CSS */
.customer-section-image-bg {
  background: linear-gradient(97.91deg, #EFB1FF 6.1%, #EE72FF 69.11%, #ED50FF 103.66%),
    linear-gradient(0deg, #13121C, #13121C);
}

.customer-section-image-bg-hover:hover {
  background: linear-gradient(97.91deg, #EFB1FF 6.1%, #EE72FF 69.11%, #ED50FF 103.66%),
    linear-gradient(0deg, #13121C, #13121C);
}

/* Functionalities */

.text-shadow-functionalities {
  background: linear-gradient(180deg, rgba(238, 80, 255, 0.617) 0%, rgba(239, 177, 255, 0) 100%);
  background-size: 50% 150%;
  -webkit-text-stroke: 1px transparent;
  background-clip: text;
}

.text-shadow-portfolio {
  border-image-source: linear-gradient(180deg, rgba(255, 255, 255, 0.66) 0%, rgba(255, 255, 255, 0) 100%);
  -webkit-text-stroke: 1px white;
  background-clip: text;
}


.slick-active>.pager {
  @apply customer-section-image-bg !important;
}